<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" th:href="@{/css/MainContent.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/OptionsButton.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/OrganizeEventButton.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/ParticipateEventButon.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/inchiriazaTeren.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/invitaPrieteni.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsePannel.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/BuyTicket.css}">
    <script type="text/javascript" th:src="@{/OptionsButton.js}"></script>
    <script type="text/javascript" th:src="@{/OrganizeEventButton.js}"></script>
    <script type="text/javascript" th:src="@{/ParticipateEventButton.js}"></script>
	<script type="text/javascript" th:src="@{/inchiriazaTeren.js}"></script>
	<script type="text/javascript" th:src="@{/invitaPrieteni.js}"></script>
	<script type="text/javascript" th:src="@{/responsePannel.js}"></script>
	<script type="text/javascript" th:src="@{/BuyTicket.js}"></script>


    <title>Sportbook</title>
</head>
<body>
<div class="page">
	<!-- Page Header-->
	<header>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Sports Events</a>
				</div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="/home">Home</a></li>
					<li><a href="/account">Account</a></li>
					<li><a href="/logout">Logout</a></li>
				</ul>
			</div>
		</nav>
	</header>
    <!-- Page Content-->
    <main class="page-content">
        <div class="optionsMenu">
            <button onclick="dropDownOptionsMenu()"
					class="btn btn-primary optionsButton" type="button">Optiuni</button>
            <div id="optionsDropDownList" class="dropdown-content">
                <p><button onclick="showEventOrganizeForm()"
                        class="btn btn-primary eventOrganize">Organizeaza un eveniment</button></p>
                <p><button onclick="showEventParticipateForm()"
						class="btn btn-primary eventOrganize">Participa la un eveniment</button></p>
				<p><button onclick="showBuyTicketForm()"
						   class="btn btn-primary eventOrganize">Cumpara bilet</button></p>
				<p><button onclick="showInchiriazaTeren()"
						   class="btn btn-primary eventOrganize">Inchiriaza teren</button></p>
            </div>
        </div>

		<div id="responsePannel" class="responsePannel">
			<p id="responseText"></p>
			<p>
				<button type="button" onclick="hideResponsePannel()">Distribuie</button>
				<button type="button" onclick="showInvitaPrieteni()">Invita prieteni</button>
				<button type="button" onclick="hideResponsePannel()">Close</button>
			</p>
		</div>

		<div id="searchEventPannel" class="searchEventPannel">
			<table class="eventsTable">
			<thead>
			<tr>
				<th>Denumire</th>
				<th>Data</th>
				<th>Pret</th>
				</tr>
			</thead>
			</table>
			<button onclick="hideSearchEventPannel()">Close</button>
		</div>

		<!-- ORGANIZE -->

        <div class="eventOrganizeForm" id="eventOrganizeDiv">

            <form method="post">
                <p><label>Titlu<input type="text"/></label></p>
                <p><label>Descriere<input type="text"/></label></p>
				<p><label>Data si ora<input type="datetime-local"/></label></p>

                <p><label id="activityLabel">Activitate</label><input type="button" onclick="toggleAtivitiesList()" class="activitiesListButton"/></p>
				<div id="activitiesListDiv" class="activitiesListClass">
					<ul>
					<li class="activityItem" id="fotbal" onclick="selectActivity(event)">Fotbal</li>
					<li class="activityItem" id="tenisCamp" onclick="selectActivity(event)">Tenis de camp</li>
					<li class="activityItem" id="tenisMasa" onclick="selectActivity(event)">Tenis de masa</li>
					<li class="activityItem" id="handball" onclick="selectActivity(event)">Handbal</li>
					<li class="activityItem" id="basketbal" onclick="selectActivity(event)">Basketbal</li>
					<li class="activityItem" id="hiking" onclick="selectActivity(event)">Hiking</li>
					</ul>
				</div>
                <p><label id="addressOption" class="addressField">Adresa<input type="text"/></label></p>
				<p><label id="rentOption" class="rentField">Inchiriaza teren<input type="button"/></label></p>

                <p><input type="button" value="Organizeaza" onclick="showResponsePannel('Eveniment organizat cu success')"/>
                <button type="button" onclick="hideEventOrganizeForm()">Close</button>
                </p>
            </form>
        </div>

		<!-- PARTICIPATE -->

		<div class="eventOrganizeForm" id="eventParticipateDiv">

			<form method="post">
				<p><label>Perioada<input type="date"/><input type="date"/></label></p>
				<p><label id="activityLabelOrg">Activitate</label><input type="button" onclick="toggleAtivitiesList()" class="activitiesListButton"/></p>
				<div id="activitiesListDiv2" class="activitiesListClass">
					<ul>
					<li class="activityItem" id="fotbalOrg" onclick="selectActivityOrg(event)">Fotbal</li>
					<li class="activityItem" id="tenisCampOrg" onclick="selectActivityOrg(event)">Tenis de camp</li>
					<li class="activityItem" id="tenisMasaOrg" onclick="selectActivityOrg(event)">Tenis de masa</li>
					<li class="activityItem" id="handballOrg" onclick="selectActivityOrg(event)">Handbal</li>
					<li class="activityItem" id="basketbalOrg" onclick="selectActivityOrg(event)">Basketbal</li>
					<li class="activityItem" id="hikingOrg" onclick="selectActivityOrg(event)">Hiking</li>
					</ul>
				</div>

				<p><label id="categoryLabel">Categorie</label><input type="button" onclick="toggleCategoryList()" class="categoryListButton"/></p>
				<div id="categoriesListDiv" class="categoriesList">
					<ul>
						<li class="categoryItem" id="avansati" onclick="selectCategory(event)">Avansati</li>
						<li class="categoryItem" id="incepatori" onclick="selectCategory(event)">Incepatori</li>
					</ul>
				</div>
				<p><input type="button" value="Participa" onclick="showSearchEventPannel()"/>
                <button type="button"  onclick="hideEventParticipateForm()">Close</button>
				<!-- get the list of all events and populate this table-->
			</form>
		</div>

		<div class="buy-ticket hidden">
			<form>
				<div class="form-group">
					<label class="font" for="eventsList">Titlu eveniment</label>
					<select multiple class="form-control" id="eventsList">
						<option>Cross</option>
						<option>Handball</option>
						<option>Tenis de camp</option>
						<option>Bascket</option>
					</select>
				</div>
				<button type="button" class="btn btn-info" data-toggle="modal" data-target="#buyTicket">Cumpara bilet</button>
				<button type="button" class="btn btn-danger" onclick="hideBuyTicketForm()">Close</button>
			</form>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="buyTicket" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<form>
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Cumpara bilet</h4>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<label for="nrOfTickets">Select list:</label>
								<select class="form-control" id="nrOfTickets">
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
								</select>
							</div>
							<div class="form-group">
								<label for="ticketType">Select list:</label>
								<select class="form-control" id="ticketType">
									<option>Normal</option>
									<option>VIP</option>
								</select>
							</div>
							<div class="form-group">
								<label for="payment">Select list:</label>
								<select class="form-control" id="payment">
									<option>Online</option>
									<option>La livrare</option>
								</select>
							</div>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary">Achizitioneaza</button>
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<!-- INCHIRIAZA-->
		<div class = "eventOrganizeForm" id="InchiriazaTerenDiv">
			<form method="POST">
				<p><label>Data</label><input type="date"/></p>
				<p><label>Interval orar </label><input type="time"/></p>
				<p><label id="activityLabelInc">Activitate</label><input type="button" onclick="toggleInchiriazaAtivitiesList()" class="activitiesListButton"/></p>
				<div id="activitiesListDiv3" class="activitiesListClass">
					<ul>
						<li class="activityItem" id="fotbalInc" onclick="selectActivityInc(event)">Fotbal</li>
						<li class="activityItem" id="tenisCampInc" onclick="selectActivityInc(event)">Tenis de camp</li>
						<li class="activityItem" id="tenisMasaInc" onclick="selectActivityInc(event)">Tenis de masa</li>
						<li class="activityItem" id="handballInc" onclick="selectActivityInc(event)">Handbal</li>
						<li class="activityItem" id="basketbalInc" onclick="selectActivityInc(event)">Basketbal</li>
						<li class="activityItem" id="hikingInc" onclick="selectActivityInc(event)">Hiking</li>
					</ul>
				</div>
				<button type="button" onclick="showAvailableTerens()">Vezi terenuri</button>
				<button type="button" onclick="hideInchiriazaTeren()">Close</button>
			</form>
		</div>

		<div id="searchTerenPannel" class="searchTerenPannel">
			<table class="terenTable">
				<thead>
				<tr>
					<th>Adresa</th>
					<th>Pret</th>
				</tr>
				</thead>
			</table>
			<input type="button" onclick="inchiriazaTeren()" value="InchiriazaTeren">
			<button onclick="hideAvailableTerens()">Close</button>
		</div>

		<!--INVITA PRIETENI-->
		<div id="invitaPrieteni" class="invitaPriteni">
			<table class="priteniTable">
				<thead>
				<tr>
					<th>Nume</th>
				</tr>
				</thead>
			</table>
			<span>Prieteni selectati</span>
			<table id="priteniSelectati" class="prieteniTable">
				<thead>
				<tr>
					<th>Nume</th>
				</tr>
				</thead>
			</table>

			<p><button type="button" onclick="invitaPrieteni()">Trimite invitatii</button>
				<button type="button" onclick="hideInvitaPrieteni()">Close</button>
			</p>
		</div>
    </main>
</div>
</body>
</html>