<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/header.css">
    <link rel="stylesheet" href="../static/main_content.css">
    <title>Title</title>
</head>
<body>
<div class="page">
    <!-- Page Header-->
    <header class="page-head undefined">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap header-default" style="height: 217px;">
            <nav class="rd-navbar rd-navbar-original rd-navbar-fullwidth" data-stick-up-offset="245px" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fullwidth" data-md-layout="rd-navbar-fullwidth" data-md-device-layout="rd-navbar-fullwidth" data-lg-device-layout="rd-navbar-static" data-lg-layout="rd-navbar-static" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true">
                <div class="rd-navbar-top-panel">
                    <div class="rd-navbar-top-panel-wrap">
                        <button data-rd-navbar-toggle=".list-inline" type="submit" class="rd-navbar-collapse-toggle toggle-original"><span></span></button>
                        <p>welcome to<span> Our Sports News Center!</span></p>
                        <div class="block-right">
                            <ul class="list-inline toggle-original-elements">
                                <li class="activePage"><a href="index.html">home</a></li>
                                <li><a href="about.html">about</a></li>
                                <li><a href="contact.html">contacts</a></li>
                                <!-- RD Navbar Search-->
                            </ul>
                            <div class="rd-navbar-search toggle-original-elements">
                                <form action="search.php" method="GET" class="rd-navbar-search-form">
                                    <label class="rd-navbar-search-form-input">
                                        <input type="text" name="s" placeholder="Search.." autocomplete="off">
                                    </label>
                                    <button type="submit" class="rd-navbar-search-form-submit"></button>
                                </form>
                                <!--span.rd-navbar-live-search-results-->
                                <button data-rd-navbar-toggle=".rd-navbar-search, .rd-navbar-live-search-results" type="submit" class="rd-navbar-search-toggle toggle-original"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rd-navbar-inner">
                    <!-- RD Navbar Panel-->
                    <div class="rd-navbar-panel">
                        <!-- RD Navbar Toggle-->
                        <button data-rd-navbar-toggle=".rd-navbar-nav-wrap" class="rd-navbar-toggle toggle-original"><span></span></button>
                        <!-- RD Navbar Brand-->
                        <div class="rd-navbar-brand"><a href="index.html" class="brand-name"><span class="text-bold">‘daily</span><span>sports</span><span class="brand-slogan">The latest sports news</span></a></div>
                        <div class="block-banner"><a href="#"><span>Banner space 728X90</span><img src="images/index-1.jpg" alt="" width="728" height="90"></a></div>
                        <ul class="list-inline-variant-1">
                            <li><a href="#" class="fa-facebook"></a></li>
                            <li><a href="#" class="fa-twitter"></a></li>
                            <li><a href="#" class="fa-google-plus"></a></li>
                            <li><a href="#" class="fa-youtube"></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- Page Content-->
    <main class="page-content">

    </main>
</div>
</body>
</html>